include CHANGELOG.md
include CONTRIBUTING.md
include RELEASE.md
recursive-include docs *.png *.svg
recursive-include examples *.toml
recursive-include scripts *.py
recursive-include src/msspack/demo_data *.fa *.faa *.gff3 *.json *.md *.toml
recursive-include tests *.fa *.fasta *.gff3 *.py *.toml *.txt
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
